.header{
    height: 120px;
    background-image: linear-gradient(0,#EE4D2D,#EE4D2D);
}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin-top: 8px;
}
.header__navbar{
   display: flex;
   justify-content: space-between;
}
.header__navbar-item, .header__navbar-item-link{
  display: inline-block;
  font-size: 1.2rem;
  color: var(--while-color);
  text-decoration: none;
  font-weight: 200;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
}
.header__navbar-item--has-qr:hover .header-qr{
    display: block;
    
}
.header__navbar-item:hover,.header__navbar-item-link:hover{
    color: #ffff00;
    cursor: pointer;
}
.header__navbar-item--strong{
    font-weight: 600;
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 15px;
    border-left: 1px solid #FB9086;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}
.header__navbar-item-nolink:hover{
    color: rgba(255,255,255,1);
    cursor: text;
}
.header__navbar-item-icon{
    text-decoration: none;
    color: #fff;
    margin: 0 1px;
    opacity: 1;
}
.header__navbar-item-icon:hover{
    opacity: 0.7;
}
.header-qr::before{
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    height: 27px;
    top: -8%;
}
.header-qr{ 
    position: absolute;
    top: 110%;
    left: 0;
    width: 186px;
    margin-top: 10px;
    display: none;
    animation: fadeIn ease-in 0.3s ;
}
.header-qr-app{
    display: flex;
    justify-content: space-around;
}
.header-qr-app-link{
    height: 18px;
}
.header-qr-app-link:nth-child(1){
    margin-left: 5px;
}
.header-qr-app-link:nth-child(2){
    margin-right: 5px;
}
.header-qr-code{
    width: 100%;
}
.header-notify{
    width: 500px;
    position: absolute;
    background-color: #fff;
    top: 118%;
    right: 0;
    border: 1px solid #dbdbdb;
    cursor: default;
    display: none;
    transform-origin: 80% top;
}
.header-notify__header{
    height: 40px;
    border-bottom: 1px solid #dbdbdb;
    cursor: text;
    user-select: none;
}
.header-notify__header h3{
    font-size: 1.1rem;
    color: #ccc;
    line-height: 40px;
    margin: 0;
    padding-left: 16px;
}
.header-notify-link{
    display: flex;
    text-decoration: none;
    height: 80px;
    
}
.header-notify-link:hover{
    background-color:#e49891;
}
.header-notify-link__img{
    width: 50px;
    object-fit: contain;
}
.header-notify-link__decription{
    margin-left: 10px;
}
.header-notify-link__decription-sumar{
    display: block;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    opacity: 0.9;
    padding-top: 10px;
}
.header-notify-link__decription-detail{
   font-size: 0.9rem;
   color: rgb(142, 139, 139);
   padding-bottom: 10px;
   
}
.header__navbar-item--has-notify:hover .header-notify{
    display: block;
    animation: Printnotify ease-in 0.3s;
}
.header-notify::before{
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    height: 27px;
    top: -8%;
}