.header{
    height: 120px;
    background-image: linear-gradient(0,#EE4D2D,#EE4D2D);
}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin-top: 8px;
}
.header__navbar{
   display: flex;
   justify-content: space-between;
}
.header__navbar-item, .header__navbar-item-link{
  display: inline-block;
  font-size: 1.2rem;
  color: var(--while-color);
  text-decoration: none;
  font-weight: 200;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
}
.header__navbar-item:hover,.header__navbar-item-link:hover{
    opacity: 0.7;
    cursor: pointer;
}
.header__navbar-item--strong{
    font-weight: 600;
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 15px;
    border-left: 1px solid #FB9086;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}
.header__navbar-item-nolink:hover{
    opacity: 1;
    cursor: text;
}
.header__navbar-item-icon{
    text-decoration: none;
    color: #fff;
    margin: 0 1px;
    opacity: 1;
}
.header__navbar-item-icon:hover{
    opacity: 0.7;
}